# Unity Generated Folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Cache
[Bb]ee/
[Bb]urstCache/
Assets/AddressableAssetsData/**.bin*
Assets/StreamingAssets/aa/

# Build Outputs
*.apk
*.aab
*.app
*.exe
*.unitypackage

# IDE / Project Files
.vscode/
.vs/
.idea/
*.csproj
*.sln
*.user*
*.unityproj
*.suo
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db
*.booproj
*.svd
*.ipr
*.iws
*.iml

# JetBrains Rider Plugins
Assets/Plugins/Editor/JetBrains*

# Crash Reports
sysinfo.txt

# Local Test Results
test-results/

# OS Junk Files
.DS_Store
Thumbs.db
